{% extends 'base.html' %} {% block content %}

<div class="container">
  <div class="row">
    <div class="col-md-8 card mb-4  mt-3 left  top">
      <div class="card-body">
        <p class=" text-center ">
        <h1>Terms of use</h1>
        <h3>

          <br>This website about the hobby, education, humor, machine learning, data science, and neural network models.</br>
          <br>It`s not about the religion, promotion of alcohol, beer, brewing brands, or brewing equipment.</br>
          <br>I only provide my point of view for different aspects of related topics and won’t encourage you for any actions.</br>
          <br>It`s up to you to decide about actions and responsibility by using this website content.</br>
          <br>Please, have fun</br>
          </p>
        </h3>
      </div>
    </div>
    {% block sidebar %} {% include 'sidebar.html' %} {% endblock sidebar %}
  </div>
</div>

{% endblock content %}









